{
  "presets": [
    ["env", {
      "targets": {
        "node": "current"
      }
    }]
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["./index.js"]
    }],
    ["transform-object-rest-spread"]
  ]
}